.popular__wrapper {
    margin-top: 64px;
}

.cards__img {
    max-width: 405px;
    max-height: 318px;
}

.item__text-h6 {
    color: var(--Dark-Grey, #4C4C4C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.cards__item-texts {
    background: var(--Lavender, #F4F0F8);
    height: 100%;
    max-width: 405px;
    min-height: 300px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    row-gap: 15px;
}

.item__text-span {
    color: var(--Purple, #a92e2e);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.item__text-h3 {
    margin-top: 24px;
    max-width: 405px;
    max-height: 120px;
    color: var(--Black, #232536);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}

.item-text-p {
    color: var(--Black, #232536);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.popular__cards-item {
    transition: 0.5s;
}

.popular__cards-item:hover {
    transform: translateY(-15px);
    transition: 0.5s;
}